/* Light Mode */
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);

:root {
  --font-serif: 'Roboto Slab';
  --font-sans: 'Open Sans';
  --color-background: white;
  --color-nav: #e6e6e6;
  --color-text: #222;
  --color-primary: #dadada;
  /* ... more colors */
}

/* Dark Mode */
:root.dark {
  --color-background: black;
  --color-nav: #222;
  --color-text: #ddd;
  --color-primary: #fbfafc;
  /* ... more colors */
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: var(--color-background);
  color: var(--color-text);
  margin: 0;
  font-family: var(--font-sans);
}
.home {
  height: 100vh;
  width: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.welcome {
  font-size: 4rem;
  font-family: var(--font-serif);
}
.content {
  width: 80%;
}
.button {
  background: var(--color-primary);
  color: var(--color-text);
  border: 0;
  border-radius: 10px;
}
.button:focus {
  outline: 0;
}
.mainnav {
  position: fixed;
  width: 100%;
  background: var(--color-nav);
  padding: 8px;
  display: flex;
  justify-content: space-between;
}

.logo {
  align-self: center;
  font-family: var(--font-sans);
}
